* {
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 100px auto;
}
.container-section {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px 0px;
}
.pequeno {
  width: 19%;
  height: 80px;
  border: 2px solid gray;
  background: linear-gradient(to bottom, #520ef1, #a07de2);
  text-align: center;
  line-height: 50px;
}
.grande {
  width: 98.5%;
  height: 80px;
  border: 2px solid gray;
  background: linear-gradient(to bottom, #a07de2, #520ef1);
  text-align: center;
  line-height: 50px;
}
.mediano {
  width: 49%;
  height: 80px;
  border: 2px solid gray;
  background: linear-gradient(to bottom, #064403, #67f762);
  text-align: center;
  line-height: 50px;
}
.section-grande {
  width: 98.5%;
  height: 80px;
  border: 2px solid gray;
  background: linear-gradient(to bottom, #064403, #67f762);
  text-align: center;
  line-height: 50px;
}
.section-grande-a {
  background: linear-gradient(to bottom, #92d447, #d2fd10);
}
.section-grande-g {
  background: linear-gradient(to bottom, #d2fd10, #fd9610);
}
.pequno-a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.a {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}
.container-aside {
  width: 18%;
  background: linear-gradient(to left, #d2fd10, #fd9610);
  border: 2px solid gray;
  line-height: 600px;
}
.texto {
  transform: rotate(90deg);
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* desde aqui estilos de paginas socio */
.header {
  width: 90%;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  border-bottom: 3px solid black;
}
.mainContainer {
  display: flex;
  width: 90%;
  margin: 1rem auto;
}
.maincontainer-div {
  width: 70%;
}
.div-parrafo {
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 1rem;
}
.div-h2 {
  background-color: #56b1bf;
  height: 40px;
  line-height: 30px;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
  font-family: sans-serif;
}
.div-h3 {
  font-family: sans-serif;
  margin-bottom: 1rem;
}
.div-ul {
  width: 50%;
  /* height: 80px; */
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.ul-item {
  margin: 5px;
  font-family: sans-serif;
  font-size: 16px;
}
/* ESTILOS DEL ASIDE !!!! */
.maincontainer-aside {
  width: 28%;
}
/* ESTILOS DE LA TABLAS */
.table-img {
  width: 320px;
  height: 320px;
}
.tr-th {
  font-family: sans-serif;
  height: 40px;
  background-color: #08708a;
}
.table-td {
  text-align: center;
  font-family: sans-serif;
  height: 50px;
}
/* ESTILOS PAGIINA CLS */
.header-h1-cls {
  width: 90%;
  height: 80px;
  line-height: 80px;
  border-bottom: 3px solid #702573;
  text-align: center;
}
.mainContainer-cls {
  width: 80%;
  justify-content: center;
}
.div-parrafo-cls {
  color: #520ef1;
  font-family: sans-serif;
  font-size: 22px;
  margin-bottom: 1rem;
}
